.chat-modal {
    position: fixed;
    right: 20px;
    bottom: 80px;
    width: 300px;
    height: 400px;
    background: rgb(230, 228, 228);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .chat-header {
    background: #d659f9;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .close-chat-btn {
    background: transparent;
    border: none;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  .chat-body {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }
  
  .chat-message {
    max-width: 80%;
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 8px;
  }
  
  .chat-message.user {
    align-self: flex-end;
    background: #792d86;
    color: white;
  }
  
  .chat-message.bot {
    align-self: flex-start;
    background: #e0e0e0;
    color: black;
  }
  
  .chat-footer {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
  }
  
  .chat-footer input {
    flex: 1;
    padding: 8px;
    border: none;
    outline: none;
  }
  
  .chat-footer button {
    background: #2d2d86;
    color: white;
    border: none;
    padding: 8px;
    cursor: pointer;
  }